@import "../../assets/scss/base/mixins";
@import "../../assets/scss/base/_variables";
@import "../../assets/scss/base/_global";

/* big and featured news start here */
.big_featured_News{position: relative; z-index: 2;
    .bigNews{width: 40%; float: left; padding-right: 50px;
        .innerWrap{width: 100%; max-width: 500px; float: left;
            .bigNews_Slider{width: 100%; float: left;
                .contentWrap{background-color: $colora054a0; padding: 30px 40px 20px; color: $white;
                    .date{font-size: 14px; line-height: 21px; opacity: 0.6;}
                    .h2{color: $white; margin: 20px 0 40px; font-family: $font-ceraRegular; font-size: 24px; line-height: 38px;}
                    .arrowBtn{background-image: url(../../assets/images/rightArrowWhite.png);}
                }
                
                .slick-dots{bottom: 10px; z-index: 2; width: auto; right: 10%; left: auto; bottom: 20px;
                    li{width: 16px; height: 16px; float: left; margin: 0 4px; padding: 0; float: left; background-color: $orange; border-radius: 50%; @extend .anim2;
                        button{}
                        &.slick-active, &:hover{background-color: #d0d0d0;}
                    }
                }
            }
        }
    }
    .featuredNews{width: 60%; float: left; padding-left: 50px; position: relative;
        .allNews{margin: 20px 0 0;
            .colWrap{width: 50%; float: left; padding-right: 20px; @extend .marginTop50;
                .date{font-size: 14px; line-height: 21px; color: $black; opacity: 0.6;}
                p{margin: 10px 0 20px; width: 80%;}
            }
        }
        .knowmore_Btn{float: right; @extend .marginTop50;}
        &:after{content: ''; width: 108%; height: 1px; background-color: #c2c2c2; position: absolute; bottom: 20px; left: -15%; z-index: -1;}
    }
}
.slick-dots li button:before{
    content: " " !important;
}
/* big and featured news end here */