.partners_testimonials{margin-bottom: 100px; position: relative; z-index: 2;
    .partners{width: 40%; float: left;  position: relative;
        .h2{left:46%; margin-bottom: 80px;}
        .partnersLogo{width: 60%; float: right; box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3); padding-bottom: 70px; background-color: $white;
            ul{
                li{width:calc(50% - 2px); float: none; display: inline-block; vertical-align: middle; margin-top: 70px;
                    span{width: 100%; float: left; text-align:center;}
                }
            }
        }
        &:after{content: ''; width: 50%; height: 60%; background-color: $colora054a0; position: absolute; bottom:-30px; left: 0; z-index: -1;}
    }
    .testimonials{width: 60%; float: left; padding-left: 6%;
        .h2{margin-bottom: 80px;}
        .testimonialsWrap{width: 60%; float: left; box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3); padding: 40px 40px 80px; background-color: $white; position: relative;
            .testimonials_Slider{
                .colWrap{
                    .imgContent{width: 100%; float: left; margin: 0 0 30px;}
                    .imgWrap{width: 160px; display: inline-block; vertical-align: bottom;}
                    .nameWrap{margin: 0; width:calc(100% - 170px); padding-left: 20px; display: inline-block; vertical-align: bottom;
                        span{font-size: 18px; line-height: 26px; width: 100%; float: left; text-transform: none;}
                    }
                }
                .slick-dots{bottom: 10px; z-index: 2; width: auto; left:0px; bottom:-50px;
                    li{width: 16px; height: 16px; float: left; margin: 0 4px; padding: 0; float: left; background-color: $orange; border-radius: 50%; @extend .anim2;
                        button{display: none;}
                        &.slick-active, &:hover{background-color: #d0d0d0;}
                    }
                }
            }
            &:after{content: ''; width: 100px; height: 73px; background-image: url(../../assets/images/comma.jpg); background-repeat: no-repeat; position: absolute; top:20px; right:20px;}
            .knowmore_Btn{float: right; position: absolute; top: auto; bottom: -60px; right: 20px;}
        }
    }
}
/* partners and testimonials end here */