/* research and insights start here */
.researchInsights{position: relative; z-index: 2;
    .researchInsights_Main{width: 40%; display: inline-block; vertical-align: middle;
        .h2{position: relative; left:19%; @extend .marginBottom50;}
        .researchInsights_Slider{
            .colWrap{
                img{width: 100%;}
                .innerContent{padding-left: 19%; padding-right: 20px;
                    .date{font-size: 14px; line-height: 21px; color: $black; opacity: 0.6; margin: 10px 0 0; width: 100%; float: left;}
                    .h2{left: 0; text-transform:none; margin: 10px 0 0; width: 100%; float: left;}
                    p{margin: 10px 0 20px; width: 100%; float: left;}
                }    
            }
            .slick-dots{z-index: 2; width: auto; right: 10%; left: auto; bottom:0px;
                li{width: 16px; height: 16px; float: left; margin: 0 4px; padding: 0; float: left; background-color: $orange; border-radius: 50%; @extend .anim2;
                    button{display: none;}
                    &.slick-active, &:hover{background-color: #d0d0d0;}
                }
            }
        }    
    }
    .featuredNews{width:calc(60% - 4px); float: none; display: inline-block; vertical-align: middle; padding: 0 0 50px 50px; position: relative;
        .allNews{margin:0;
            .colWrap{width: 50%; float: left; padding-right: 20px; @extend .marginTop50;
                .date{font-size: 14px; line-height: 21px; color: $white; opacity: 0.6;}
                p{margin: 10px 0 20px; width: 80%; color: $white;}
                .arrowBtn{background-image: url(../../assets/images/rightArrowWhite.png);}
            }
        }
        .knowmore_Btn{float: right; right: 14%; margin-bottom: -100px;}
        &:after{content: ''; width: 105%; height: 110%; position: absolute; top:-10%; left:calc(-5% + 2px); background-color: $colora054a0; z-index: -1;}
    }
}
.slick-dots li button:before{
    content: " " !important;
}
/* research and insights end here */