/* color variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/*common css start here*/
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  float: left;
  font-family: "Source Sans Pro", sans-serif;
  color: #000000; }

img {
  max-width: 100%; }

.wrapper {
  width: 100%;
  float: left; }

.container {
  width: 100%;
  max-width: 86%;
  padding: 0 15px;
  float: left;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%); }

.anim1 {
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out; }

.anim2, .videoPopupWrapper, .videoPopupWrapper .popupVideo .closeVideo, .servicesWrap .innerServiceWrap .servicesList .innerList ul li a, .servicesWrap .innerServiceWrap .servicesColumn .colWrap .stripContent, .servicesWrap .innerServiceWrap .servicesColumn .colWrap .overlapContent {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out; }

.anim3 {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }

ul {
  width: 100%;
  float: left; }
  ul li {
    width: auto;
    float: left;
    list-style-type: none; }

a {
  color: #000000;
  text-decoration: none; }
  a:focus {
    outline: 0; }

input[type="text"], input[type="email"], select, textarea {
  width: 100%;
  float: left;
  font-size: 16px;
  line-height: 24px;
  border: 0;
  padding: 10px 0;
  border-bottom: 0;
  color: #000000;
  border-radius: 0; }
  input[type="text"]:focus, input[type="email"]:focus, select:focus, textarea:focus {
    outline: 0; }

input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder {
  color: #000000; }

input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder {
  color: #000000; }

input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder {
  color: #000000; }

input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder {
  color: #000000; }

.verticleLine {
  width: 1px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #cfcfcf;
  z-index: 1;
  opacity: 0.3; }
  .verticleLine.firstLine {
    left: 7%; }
  .verticleLine.secondLine {
    left: 25%; }
  .verticleLine.thirdLine {
    left: 40%; }
  .verticleLine.fourthLine {
    left: 60%; }
  .verticleLine.fifthLine {
    left: 75%; }
  .verticleLine.sixLine {
    left: 93%; }

.h1 {
  color: #000000;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  font-family: "CeraMedium";
  text-transform: uppercase; }

.h2 {
  color: #000000;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  font-family: "CeraMedium";
  text-transform: uppercase; }
  .h2.underlineOrange {
    position: relative;
    padding-bottom: 10px; }
    .h2.underlineOrange:after {
      content: '';
      width: 30px;
      height: 3px;
      background-color: #f27060;
      position: absolute;
      bottom: 0px;
      left: 0; }

.h3 {
  color: #000000;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff; }

.h4 {
  color: #000000;
  font-weight: normal; }

.h5 {
  color: #000000;
  font-weight: normal; }

p {
  font-size: 16px;
  line-height: 24px;
  font-family: "Source Sans Pro", sans-serif;
  color: #000000; }

.marginTop80 {
  margin-top: 80px; }

.marginBottom80 {
  margin-bottom: 80px; }

.marginTopBottom80 {
  margin-top: 80px;
  margin-bottom: 80px; }

.marginBottom50 {
  margin-bottom: 50px; }

.marginTop50 {
  margin-top: 50px; }

.slick-slide {
  height: auto; }
  .slick-slide:focus {
    outline: 0; }

.slick-dotted.slick-slider {
  margin: 0; }

.arrowBtn {
  width: 28px;
  height: 14px;
  /* background-image: url(~assets/images/rightArrow.png) */
  background-repeat: no-repeat;
  display: inline-block; }

.knowmore_Btn {
  width: 80px;
  position: relative;
  top: 0;
  transform: none;
  right: 0;
  background-color: #f27060;
  color: #ffffff;
  padding: 10px 10px 42px;
  display: inline-block; }
  .knowmore_Btn span {
    width: 100%;
    float: left;
    text-align: center;
    font-family: "CeraMedium";
    font-size: 16px; }
    .knowmore_Btn span .plusWrap {
      width: 12px;
      height: 12px;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer; }
      .knowmore_Btn span .plusWrap:before {
        content: '';
        width: 2px;
        height: 100%;
        background-color: #ffffff;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out; }
      .knowmore_Btn span .plusWrap:after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0; }
      .knowmore_Btn span .plusWrap.minusWrap:before {
        transform: translateX(-50%) rotate(90deg); }

/* video popup start here */
.videoPopupWrapper {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  transform: scale(0, 1); }
  .videoPopupWrapper.active {
    transform: scale(1, 1); }
  .videoPopupWrapper .popupVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 750px;
    max-height: 100%;
    height: 480px;
    padding: 10px 0 20px 0;
    background: rgba(0, 0, 0, 0.9); }
    .videoPopupWrapper .popupVideo .closeVideo {
      display: block;
      position: absolute;
      right: -32px;
      top: -4px;
      width: 32px;
      height: 32px;
      cursor: pointer; }
      .videoPopupWrapper .popupVideo .closeVideo:hover {
        transform: rotate(180deg); }
      .videoPopupWrapper .popupVideo .closeVideo:before {
        content: "";
        position: absolute;
        display: block;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 32px;
        height: 0;
        border-top: 2px solid #ffffff;
        transform: rotate(45deg);
        transform-origin: center; }
      .videoPopupWrapper .popupVideo .closeVideo:after {
        content: "";
        position: absolute;
        display: block;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 32px;
        height: 0;
        border-top: 2px solid #ffffff;
        transform: rotate(-45deg);
        transform-origin: center; }
    .videoPopupWrapper .popupVideo iframe {
      width: 100%;
      height: 100%; }

/* video popup end here */
/* @import "../../assets/scss/base/_fonts"; */
/* services start here */
.servicesWrap {
  position: relative;
  z-index: 2; }
  .servicesWrap .h2 {
    width: 100%;
    float: left;
    text-transform: none; }
  .servicesWrap .innerServiceWrap .servicesList {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 2; }
    .servicesWrap .innerServiceWrap .servicesList .h2 {
      position: absolute;
      top: -100px;
      left: 26%;
      text-transform: uppercase; }
    .servicesWrap .innerServiceWrap .servicesList .innerList {
      padding: 20px 0 20px 26%;
      background-color: #a054a0;
      position: relative; }
      .servicesWrap .innerServiceWrap .servicesList .innerList ul {
        width: 100%;
        max-width: 290px; }
        .servicesWrap .innerServiceWrap .servicesList .innerList ul li {
          width: 100%;
          float: left;
          padding: 15px 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
          .servicesWrap .innerServiceWrap .servicesList .innerList ul li a {
            width: 100%;
            float: left;
            opacity: 0.2; }
            .servicesWrap .innerServiceWrap .servicesList .innerList ul li a img {
              display: inline-block;
              vertical-align: middle; }
            .servicesWrap .innerServiceWrap .servicesList .innerList ul li a span {
              font-size: 18px;
              line-height: 26px;
              text-transform: uppercase;
              font-family: "CeraRegular";
              color: #ffffff;
              display: inline-block;
              vertical-align: middle;
              padding-left: 20px; }
          .servicesWrap .innerServiceWrap .servicesList .innerList ul li:last-child {
            border: 0; }
          .servicesWrap .innerServiceWrap .servicesList .innerList ul li.active a, .servicesWrap .innerServiceWrap .servicesList .innerList ul li:hover a {
            opacity: 1; }
      .servicesWrap .innerServiceWrap .servicesList .innerList:after {
        content: '';
        width: 50px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -50px;
        background-color: #a054a0; }
  .servicesWrap .innerServiceWrap .servicesColumn {
    width: calc(70% - 4px);
    vertical-align: middle;
    display: none; }
    .servicesWrap .innerServiceWrap .servicesColumn.active {
      display: inline-block; }
    .servicesWrap .innerServiceWrap .servicesColumn .colWrap {
      width: 50%;
      float: left;
      position: relative;
      overflow: hidden;
      border: 1px solid #ffffff; }
      .servicesWrap .innerServiceWrap .servicesColumn .colWrap .serviceImg {
        width: 100%; }
      .servicesWrap .innerServiceWrap .servicesColumn .colWrap .overlayBlack {
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 0; }
      .servicesWrap .innerServiceWrap .servicesColumn .colWrap .stripContent {
        color: #ffffff;
        width: auto;
        padding: 10px 20px;
        background-color: rgba(99, 27, 117, 0.8);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase; }
      .servicesWrap .innerServiceWrap .servicesColumn .colWrap .overlapContent {
        background-color: rgba(99, 27, 117, 0.5);
        width: 100%;
        height: 0%;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        visibility: hidden; }
        .servicesWrap .innerServiceWrap .servicesColumn .colWrap .overlapContent .innerWrap {
          width: 70%;
          height: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center; }
          .servicesWrap .innerServiceWrap .servicesColumn .colWrap .overlapContent .innerWrap h3 {
            text-transform: uppercase;
            margin: 10px 0 12px;
            width: 100%;
            float: left; }
          .servicesWrap .innerServiceWrap .servicesColumn .colWrap .overlapContent .innerWrap p {
            color: #ffffff; }
          .servicesWrap .innerServiceWrap .servicesColumn .colWrap .overlapContent .innerWrap .arrowBtn {
            width: 28px;
            height: 14px;
            background-image: url(../../assets/images/rightArrow.png);
            background-repeat: no-repeat;
            display: inline-block;
            margin: 40px 0 0; }
      .servicesWrap .innerServiceWrap .servicesColumn .colWrap .orangeOverlayContent {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(242, 112, 96, 0.8); }
        .servicesWrap .innerServiceWrap .servicesColumn .colWrap .orangeOverlayContent .innerContent {
          width: 70%;
          height: auto;
          position: absolute;
          top: 52%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center; }
          .servicesWrap .innerServiceWrap .servicesColumn .colWrap .orangeOverlayContent .innerContent abbr {
            font-family: "CeraMedium";
            color: #ffffff;
            font-size: 16px; }
          .servicesWrap .innerServiceWrap .servicesColumn .colWrap .orangeOverlayContent .innerContent .plusWrap {
            width: 12px;
            height: 12px;
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer; }
            .servicesWrap .innerServiceWrap .servicesColumn .colWrap .orangeOverlayContent .innerContent .plusWrap:before {
              content: '';
              width: 2px;
              height: 100%;
              background-color: #ffffff;
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              transition: all 0.5s ease-in-out;
              -webkit-transition: all 0.5s ease-in-out;
              -ms-transition: all 0.5s ease-in-out;
              -moz-transition: all 0.5s ease-in-out;
              -o-transition: all 0.5s ease-in-out; }
            .servicesWrap .innerServiceWrap .servicesColumn .colWrap .orangeOverlayContent .innerContent .plusWrap:after {
              content: '';
              width: 100%;
              height: 2px;
              background-color: #ffffff;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0; }
            .servicesWrap .innerServiceWrap .servicesColumn .colWrap .orangeOverlayContent .innerContent .plusWrap.minusWrap:before {
              transform: translateX(-50%) rotate(90deg); }
      .servicesWrap .innerServiceWrap .servicesColumn .colWrap:hover .stripContent {
        opacity: 0;
        visibility: hidden; }
      .servicesWrap .innerServiceWrap .servicesColumn .colWrap:hover .overlapContent {
        opacity: 1;
        visibility: visible;
        height: 100%; }

/* services end here */

/*# sourceMappingURL=Services.css.map */
