@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

@font-face {
    font-family: 'CeraMedium';
    src: url('../../fonts/CeraMedium.eot');
    src: url('../../fonts/CeraMedium.eot') format('embedded-opentype'),
         url('../../fonts/CeraMedium.woff2') format('woff2'),
         url('../../fonts/CeraMedium.woff') format('woff'),
         url('../../fonts/CeraMedium.ttf') format('truetype'),
         url('../../fonts/CeraMedium.svg#CeraMedium') format('svg');
}

@font-face {
    font-family: 'CeraRegular';
    src: url('../../fonts/CeraRegular.eot');
    src: url('../../fonts/CeraRegular.eot') format('embedded-opentype'),
         url('../../fonts/CeraRegular.woff2') format('woff2'),
         url('../../fonts/CeraRegular.woff') format('woff'),
         url('../../fonts/CeraRegular.ttf') format('truetype'),
         url('../../fonts/CeraRegular.svg#CeraRegular') format('svg');
}

