$font-source:'Source Sans Pro', sans-serif;
$font-ceraRegular:'CeraRegular';
$font-ceraMedium:'CeraMedium';

/* color variables */

$black:#000000;
$white:#ffffff;
$grey:#999999;
$orange:#f27060;
$borderColor:#cfcfcf;
$colora054a0:#a054a0;