$font-source:'Source Sans Pro', sans-serif;
$font-ceraRegular:'CeraRegular';
$font-ceraMedium:'CeraMedium';

/* color variables */

$black:#000000;
$white:#ffffff;
$grey:#999999;
$orange:#f27060;
$borderColor:#cfcfcf;
$colora054a0:#a054a0;
$lightgray:#d0d0d0;
$semilightgray:#8d8d8d;
$gray:#565656;
$darkgray:#444444;