.c-personnel-box{
    position: relative;
    clear: both;
    
    img{
        position: relative;
        filter: grayscale(100%);
        transition: all 0.5s linear 0s;
        width: 100%;

        &:hover{
            filter: grayscale(0%);
            transition: all 0.5s linear 0s;
        }
    }
    .c-personnel-greyoverlay{
        position: absolute;
        background-color:rgba(255,255,255,0.9);
        bottom: 0;
        width: calc(100% - 120px);
        padding: 10px;
        min-height: 105px;
        width: 100%;
        .c-personnel-name{
            text-transform: uppercase;
            margin-top: 0px;
            margin-bottom: 5px;
        }
        .c-personnel-designation{
            display: block;
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
}