/* footer start here */
footer{position: relative; z-index: 2;
    .footerAll_Links{padding: 50px 0; background-color: #444444;
        .colWrap{width: 25%; float: left;
            ul{
                li{width: 100%;
                    a{color: $grey; font-size: 14px; text-transform: uppercase; font-family: $font-ceraRegular;
                        strong{color: $white; font-size: 16px; font-family: $font-ceraMedium; font-weight: normal;}
                    }
                }
            }
            form{margin: 20px 0;
                span{width: 100%; float: left; color: $white; margin:0 0 5px}
                input[type="text"]{width:calc(100% - 86px); float: left; font-size: 14px; line-height: 21px; padding: 6px 10px; background-color: #686868; color: $white;}
                .subscibeBtn{font-size: 14px; color: $white; background-color: $orange; padding: 5px 16px; display: inline-block; float: left; text-transform: capitalize;}
            }
            .social_allIcon{
                li{width: auto; margin: 0 5px; float: none; display: inline-block; vertical-align: middle;
                    a{display: inline-block;}
                }
            }
            
            &:nth-child(2){
                ul{
                    li{
                        &:nth-child(6){margin: 10px 0 0;}
                    }
                }
            }
        }    
    }
    
    .copyRight_TC{background-color: #565656; padding: 10px 0;
        .tcLinks{width: auto; float: left;
            li{
                a{color: $white; font-size: 13px; line-height: 26px; font-family: $font-ceraMedium;}
                &:last-child{
                    a{border-left: 1px solid $white; padding-left: 10px; margin-left: 10px;}
                }
            }
        }
        .copyRightsText{font-size:13px; color: #999999; float: right;}
    }
}
@media all and (max-width: 768px){
    footer{

        .footerAll_Links{
            padding-top: 10px;

            .container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 0px;
    
                .colWrap{
                    flex: 0 50%;
                    margin-top: 20px;

                    &.services_links{
                        order:1;
                    }
    
                    &.projects_links{
                        order:3;
                    }
    
                    &.about_links{
                        order:2;
                    }
    
                    &.faq_links{
                        order:4;
                    }
                }
            }
            .colWrap{
                ul{
                    li{
                        a{
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
        .copyRight_TC{
            .copyRightsText{
                float: left;
            }
        } 
    }
}
/* footer start here */