@import "../../assets/scss/base/mixins";
@import "../../assets/scss/base/_variables";
@import "../../assets/scss/base/_global";
/* top banner start here */
.topBanner{position: relative;
    .topBannerSlider{
        .colWrap{position: relative;
            .bannerDesktopImg{width: 100%;}
            .container{position: absolute; bottom: 20%; top: auto;z-index: 2;
                .contentBox{width: 100%; max-width: 700px; padding: 30px; background-color: $white; opacity: 0.9; float:left; position: relative;
                    .h1{margin-bottom: 10px;}
                    p{font-size: 18px;}
                    .knowmore_Btn{width: 80px; position: absolute; top: 50%; transform: translateY(-50%); right:-40px; background-color:$orange; color: $white; padding: 10px 10px 42px;
                        span{width: 100%; float: left; text-align: center; font-family: $font-ceraMedium; font-size:16px;
                            .plusWrap{width: 12px; height: 12px; position: absolute; top: 80%; left: 50%; transform: translate(-50%, -50%); cursor: pointer;
                                &:before{content:''; width: 2px; height: 100%; background-color:$white; position: absolute; top:0; left: 50%; transform: translateX(-50%); transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out;}
                                &:after{content:''; width: 100%; height: 2px; background-color:$white; position: absolute; top: 50%; transform: translateY(-50%); left: 0;}
                                    &.minusWrap{
                                        &:before{transform: translateX(-50%) rotate(90deg); }
                                    }
                            }
                        }
                    }
                }
            }
        }
        .slick-dots{bottom: 10px; z-index: 2; width: auto; right: 10%; left: auto; bottom: 20px;
            li{width: 16px; height: 16px; float: left; margin: 0 4px; padding: 0; float: left; background-color: $orange; border-radius: 50%; @extend .anim2;
                button{padding:0px;
                }
                button:before{
                        content:" " !important;
                    }
                &.slick-active, &:hover{background-color: #d0d0d0;}
            }
        }
    }
    .horizontalLine{width: 100%; height: 1px; position: absolute; top: 0; left: 0; background-color: $borderColor; z-index: 1; opacity: 0.5;
        &.firstLine{top: 12%;}
        &.secondLine{top: 40%;}
        &.thirdLine{top: 60%}
        &.fourthLine{top: 88%}
         
    }
    .downArrow{width: 24px; height: 12px; background-image: url(../../assets/images/downArrow2.png); background-repeat: no-repeat; background-size: cover; position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); cursor: pointer;}
} 
/* top banner end here */


 